/* Base reset */
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
     /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: teal;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.nav-list a:hover {
    background: black;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
  }

#welcome-section {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(10deg, #3a3d40 0%, #181719 100%);
    font-size: x-large;
}

.arrow {
	width: 60px;
	height: 82px;
	position: absolute; 
	left: 49%;
	margin-left: 0px;
	bottom: 5%;
  z-index:999;
}

.arrow path {
	stroke: teal;
	stroke-width: 2px;
	fill: transparent;	
	animation: down 2s infinite;
}

@keyframes down{
  0% { opacity:0 }
  25% { opacity:1 }
  75% { opacity:0 }
  100% { opacity:0 }
  }

  .arrow path.a1{	animation-delay:-1s; }
.arrow path.a2{	animation-delay:-.5s; }
.arrow path.a3{	animation-delay:0s; }

.container {
  /*background-color: #111111;*/
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 7vw;
  text-shadow: 4px 4px 0px teal;
  mix-blend-mode: screen;
  animation: fadeIn 2.5s linear forwards;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: lightgray;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid teal;
  }

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .project-image {
    border-radius: 20px;
  }

  .project-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: teal;
    opacity: .75;
    border-radius: 25px;
  }

  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  h2 {
      font-size: 4rem;
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }  

  h3 {
    font-size: 6.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  a {
      text-decoration: none;
      color: #f0f0f0;
  }

  p {
    font-size: 2rem;
    color: white;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: black;
  }

  .contact-section-header > h2 {
    font-size: 6rem;
  }

  .contact {
    color: white;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }

  .contact-details:hover {
    transform: translateY(8px);
  }

  .footer {
    background: black;
    display: flex;
    justify-content: center;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  @media (max-width: 28.75em) {
    .contact-links {
      flex-direction: column;
      text-align: center;
    }
  }

  @media screen and (max-width: 30em) {
      #welcome-section {
          background-image: linear-gradient(270deg, #a84f3c 0%, #9df57a 100%);
  }
}

   /*.project {
    background: #ccc;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }*/

  /*.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }*/