* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    background-image: url(../Images/TheStars.jpg);
}

header {
    display: flex;
    justify-content: center;
    background-image: url(../Images/TheStars.jpg);
}

figure {
    margin: 1rem;
}

figcaption {
    color: white;
    background-color: black;
    text-align: center;
}

.main_title {
    display: flex;
    justify-content: center;
    background-color: #101010;
    font-size: 70px;
}

h1 {
    color: yellow;
}

p {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #101010;
    background-image: url(../Images/TheStars.jpg);
}
