* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: black;
    background-image: url(../Images/TheStars.jpg);
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

header {
    font-size: 40px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    background-image: url(../Images/TheStars.jpg);
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 12rem;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    color: yellow;
}

p {
    font-size: 1.5rem;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
}