* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: black;
    background-image: url(../Images/TheStars.jpg);
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

header {
    font-size: 40px;
}

button {
    background-color: black;
    color: yellow;
    border-color: yellow;
    border-width: thin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    top: 10px;
    bottom: 25px;

}

button:hover {
  background: yellow;
  color: black;
  border-color: black;
  cursor: pointer;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    background-image: url(../Images/TheStars.jpg);
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 12rem;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    position: relative;
    top: 20px;
    bottom: 20px;
}

p {
    font-size: 1.5rem;
}

footer {
    color: yellow;
    display: flex;
    justify-content: center;
}