:root {
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
}

body {
    background-color: black;
}

.main {
    margin: 8rem 5rem 0 10rem;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

h1 {
    color: yellow;
    font-size: 80px;
}

h2 {
    display: flex;
    justify-content: center;
}

.message {
    font-size: 40px;
}

body {
    background-image: url(../Images/TheStars.jpg)
}

